# =========================
# Docker Postgres only
# =========================

# Required by docker-compose (even if backend is not started)
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=mydatabase

# Published DB port (host -> container 5432)
POSTGRES_PORT=5432
BIND_IP=127.0.0.1

# Not used by Postgres container itself,
# but required to silence compose variable warnings
DATABASE_URL="postgresql://myuser:mysecretpassword@127.0.0.1:5432/mydatabase?schema=public"
